# base ignores
.*
~*
*~

# package distubution ignores
node_modules/

# test file ignores
*.mp4

# app file ignores
*.js
*.css
*.map
# allowing test files
!cypress/**/*

# ignoring git/github files
!.gitignore
!.github
