button, a.button {
  border-radius: 4px;
  height: 40px;
  max-width: 400px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &.red {
    background-color: var(--red);
  }
  &.green {
    background-color: var(--green);
  }
  &.blue {
    background-color: var(--main-blue);
  }
}