:root {
  // brand colors
  --dark-blue: #035388;
  --main-blue: #127FBF;
  --light-blue: #5ED0FA;
  // grays
  --gray-1: #F5F7FA;
  --gray-2: #E4E7EB;
  --gray-3: #CBD2D9;
  --gray-4: #9AA5B1;
  --gray-5: #7B8794;
  --gray-6: #616E7C;
  --gray-7: #52606D;
  --gray-8: #3E4C59;
  --gray-9: #323F4B;
  --gray-10: #1F2933;
  // supporting
  --red: #E12D39;
  --pink: #E8368F;
  --yellow: #FADB5F;
  --green: #27AB83;
}