form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  button[type=submit] {
    margin-top: 20px;
    max-width: 400px;
    width: 95%;
  }
}

label.regular-input {
  max-width: 400px;
  width: 95%;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  input:not([type=file]):not([type=radio]):not([type=checkbox]) {
    margin-top: 3px;
	width: 100%;
  }
}

input:not([type=file]):not([type=radio]):not([type=checkbox]) {
  width: 95%;
  max-width: 400px;
  border-radius: 4px;
  background-color: var(--gray-4);
  height: 40px;
  text-indent: 15px;
  color: var(--gray-9)
}